.page-layout {
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-y: auto;
    padding: 10px 10px 10px 10px;
}

.page-layout-inner-container {
    height: 100%;
    width: 80vw;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .page-layout-inner-container {
        height: 100%;
        width: 100%;
        /* background-color: grey; */
    }
}

.div-flex-row-h100,
.div-flex-column-h100,
.div-flex-row-w100,
.div-flex-column-w100,
.div-flex-row,
.div-flex-column,
.div-flex-end,
.div-flex-start,
.div-flex-center,
.div-align-center,
.div-space-between {
    display: flex;
}

.div-flex-row {
    flex-direction: row;
}

.div-flex-column {
    flex-direction: column;
}

.div-flex-row-w100 {
    flex-direction: row;
    width: 100%;
}

.div-flex-column-w100 {
    flex-direction: column;
    width: 100%;
}

.div-flex-row-h100 {
    flex-direction: row;
    height: 100%;
}

.div-flex-column-h100 {
    flex-direction: column;
    height: 100%;
}

.div-flex-end {
    justify-content: flex-end;
}

.div-flex-start {
    justify-content: flex-start;
}

.div-flex-center {
    justify-content: center;
}

.div-space-between {
    justify-content: space-between;
}

.div-align-center {
    align-items: center;
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 14px;
}

.text-lg {
    font-size: 16px;
}

.text-xl {
    font-size: 18px;
}

.text-semi-bold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.rg-5 {
    row-gap: 5px;
}

.rg-10 {
    row-gap: 10px;
}

.rg-15 {
    row-gap: 15px;
}

.rg-20 {
    row-gap: 20px;
}

.cg-5 {
    column-gap: 5px;
}

.cg-10 {
    column-gap: 10px;
}

.cg-15 {
    column-gap: 15px;
}

.cg-20 {
    column-gap: 20px;
}

.padding-v5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.padding-v10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.padding-v15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.padding-v20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.padding-h5 {
    padding-left: 5px;
    padding-right: 5px
}

.padding-h10 {
    padding-left: 10px;
    padding-right: 10px
}

.padding-h15 {
    padding-left: 15px;
    padding-right: 15px
}

.padding-h20 {
    padding-left: 20px;
    padding-right: 20px
}



.cursor-pointer {
    cursor: pointer;
}

.theme-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    background: linear-gradient(135deg, #6a8dff, #5a6cff);
    color: #ffffff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 12px;
}